PORT=5050
MONGODB_URI=mongodb://127.0.0.1:27017/mitra_db
JWT_SECRET=your_mitra_jwt_secret_key
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=mitra-media
MINIO_USE_SSL=false
